<div>
  <strong><%= link_to comment.commenter.fullname, user_profile_path(comment.commenter), target: "_blank" %></strong>
  : "<%= comment.body %>"
  <% if can_delete_comment?(comment, current_user) %>
    <%= link_to 'Remove comment', [comment.activity, comment],
                method: :delete,
                data: {confirm: 'Are you sure?'} %>
  <% end %>
</div>