
<%= form_with(model: [@activity, @activity.comments.build], local: true) do |form| %>
  <div class="form-group">
    <%= form.text_area :body, class: 'form-control', placeholder: 'Enter name', required: true %>
  </div>
  <div class="form-group">
    <%= form.submit class: 'btn btn-success' %>
  </div>
<% end %>