<%= form_with(model: faculty, local: true, html: { autocomplete: "off" }) do |form| %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control', placeholder: 'Enter name', required: true %>
    <div class="error text-danger">
      <%= inline_errors(faculty, :name) %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :code %>
    <%= form.text_field :code, class: 'form-control', placeholder: 'Enter code', required: true %>
    <div class="error text-danger">
      <%= inline_errors(faculty, :code) %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :note %>
    <%= form.text_area :note, class: 'form-control', placeholder: 'Enter note' %>
    <div class="error text-danger">
      <%= inline_errors(faculty, :note) %>
    </div>
  </div>

  <div class="form-group">
    <%= form.submit class: 'btn btn-success' %>
  </div>
<% end %>
