<h2>Editing Faculty</h2>

<%= render 'form', faculty: @faculty %>

<%= link_to @faculty do %>
  <button title="Show" class="btn btn-primary">Show</button>
<% end %>

<%= link_to faculties_path do %>
  <button class="btn btn-secondary">Back</button>
<% end %>
