<h2>Faculties</h2>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Code</th>
      <th scope="col">Note</th>
      <th scope="col" style="width: 180px">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @faculties.each do |faculty| %>
      <tr>
        <td><%= faculty.name %></td>
        <td><%= faculty.code %></td>
        <td><%= faculty.note %></td>
        <td class="action-col"  style="text-align: right">
          <%= link_to faculty do %>
            <button title="Show" class="btn btn-primary"><%= fa_icon "eye" %></button>
          <% end %>
          <%= link_to edit_faculty_path(faculty) do %>
            <button title="Edit" class="btn btn-success"><%= fa_icon "edit" %></button>
          <% end %>
          <%= link_to faculty, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <button title="Delete" class="btn btn-danger"><%= fa_icon "trash" %></button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_faculty_path do %>
  <button class="btn btn-primary">New Faculty</button>
<% end %>

