<h2>Faculty detail</h2>


<table class="table table-bordered table-detail">
  <tbody>
    <tr>
      <td><strong>Name</strong></td>
      <td><%= @faculty.name %></td>
    </tr>

    <tr>
      <td><strong>Code</strong></td>
      <td><%= @faculty.code%></td>
    </tr>

    <tr>
      <td><strong>Note</strong></td>
      <td><%= @faculty.note %></td>
    </tr>
  </tbody>
</table>

<%= link_to edit_faculty_path(@faculty) do %>
  <button class="btn btn-success">Edit</button>
<% end %>

<%= link_to faculties_path do %>
  <button class="btn btn-secondary">Back</button>
<% end %>
