<%= form_with(model: person, local: true, html: { autocomplete: "off" }) do |form| %>

  <div class="form-group">
    <%= form.label :fullname %>
    <%= form.text_field :fullname, class: 'form-control', placeholder: 'Enter fullname', required: true %>
    <div class="error text-danger">
      <%= inline_errors(person, :fullname) %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: 'form-control', placeholder: 'Enter email', required: true, type: 'email' %>
    <div class="error text-danger">
      <%= inline_errors(person, :email) %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :username %>
    <%= form.text_field :username, class: 'form-control', placeholder: 'Enter username', required: true %>
    <div class="error text-danger">
      <%= inline_errors(person, :username) %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :faculty_id %>
    <%= form.select :faculty_id, selectable_faculties, {}, {class: 'form-control'} %>
    <div class="error text-danger">
      <%= inline_errors(person, :faculty_id) %>
    </div>
  </div>

  <div class="form-group">
    <%= form.submit class: 'btn btn-success' %>
  </div>
<% end %>
