<h2>Editing Person</h2>

<%= render 'form', person: @person %>

<%= link_to @person do %>
  <button class="btn btn-primary">Show</button>
<% end %>

<%= link_to people_path do %>
  <button class="btn btn-secondary">Back</button>
<% end %>
