<h2>People</h2>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Fullname</th>
      <th scope="col">Email</th>
      <th scope="col">Username</th>
      <th scope="col">Faculty</th>
      <th scope="col">Publications</th>
      <th scope="col" style="width: 180px">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.fullname %></td>
        <td><%= person.email %></td>
        <td><%= person.username %></td>
        <td><%= person.faculty.name %></td>
        <td><%= person.publications.count %></td>


        <td class="action-col"  style="text-align: right">
          <%= link_to person do %>
            <button title="Show" class="btn btn-primary"><%= fa_icon "eye" %></button>
          <% end %>
          <%= link_to edit_person_path(person) do %>
            <button title="Edit" class="btn btn-success"><%= fa_icon "edit" %></button>
          <% end %>
          <%= link_to person, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <button title="Delete" class="btn btn-danger"><%= fa_icon "trash" %></button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_person_path do %>
  <button class="btn btn-primary">New Person</button>
<% end %>
