<h2>Person detail</h2>

<table class="table table-bordered table-detail">
  <tbody>
  <tr>
    <td><strong>Fullname</strong></td>
    <td><%= @person.fullname %></td>
  </tr>

  <tr>
    <td><strong>Email</strong></td>
    <td><%= @person.email %></td>
  </tr>

  <tr>
    <td><strong>Username</strong></td>
    <td><%= @person.username %></td>
  </tr>

  <tr>
    <td><strong>Faculty</strong></td>
    <td>
      <%= @person.faculty.name %>
      <%= link_to @person.faculty, target: "_blank" do %>
        <%= fa_icon "eye" %>
      <% end %>
    </td>
  </tr>

  <tr>
    <td><strong>Publications</strong></td>
    <td>
      <% if @person.publications.empty? %>
        None
      <% else %>
        <ul>
          <% @person.publications.each do |publication| %>
            <li>
              <%= publication.name %>
              <%= link_to publication, target: "_blank" do %>
                <%= fa_icon "eye" %>
              <% end %>
            </li>
          <% end %>

        </ul>
        <%#= @person.faculty.name %>
        <%#= link_to @person.faculty, target: "_blank" do %>
        <%#= fa_icon "eye" %>
        <%# end %>
      <% end %>
    </td>
  </tr>
  </tbody>
</table>

<%= link_to edit_person_path(@person) do %>
  <button class="btn btn-success">Edit</button>
<% end %>

<%= link_to people_path do %>
  <button class="btn btn-secondary">Back</button>
<% end %>

