<%= form_with(model: @activity, local: true, html: {autocomplete: "off"}) do |form| %>

  <div class="form-group">
    <%= form.label :activity_type_id %>
    <%= form.select :activity_type_id, selectable_activity_types, {}, {class: 'form-control'} %>
    <div class="error text-danger">
      <%= inline_errors(@activity, :activity_type_id) %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control', placeholder: 'Enter name', required: true %>
    <div class="error text-danger">
      <%= inline_errors(@activity, :name) %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control', placeholder: 'You can enter short description' %>
    <div class="error text-danger">
      <%= inline_errors(@activity, :name) %>
    </div>
  </div>

  <% if can_upload_file %>
    <div class="form-group">
      <%= form.label 'Activity .gpx file' %>
      <%= form.file_field :activity_file, accept: ".gpx", class: 'form-control', required: true %>
      <div class="error text-danger">
        <%= inline_errors(@activity, :activity_file) %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.submit class: 'btn btn-success' %>
  </div>
<% end %>