<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th scope="col">Type</th>
    <th scope="col">Name</th>
    <th scope="col">User</th>
    <th scope="col">Date</th>
    <th scope="col">Time</th>
    <th scope="col">Distance</th>
    <th scope="col" style="width: 180px"></th>
  </tr>
  </thead>

  <tbody>
  <% @activities.each do |activity|    # if @type == @types[0][1]    # if @type == @types[0][1] %>
    <tr>
      <td><%= activity.activity_type.name %></td>
      <td><%= activity.name %></td>
      <td> <%= user_link(activity.user) %></td>
      <td><%= human_date(activity.start_at) %></td>
      <td><%= human_time(activity.duration) %></td>
      <td><%= human_distance(activity.distance) %></td>

      <td class="action-col text-right">
        <% if @editable %>
          <%= link_to edit_activity_path(activity) do %>
            <button title="Edit" class="btn btn-success"><%= fa_icon "edit" %></button>
          <% end %>
          <%= link_to activity, method: :delete, data: {confirm: 'Are you sure?'} do %>
            <button title="Delete" class="btn btn-danger"><%= fa_icon "trash" %></button>
          <% end %>
        <% end %>
        <%= link_to activity do %>
          <button title="Detail" class="btn btn-primary"><%= fa_icon "eye" %></button>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>