<h2>Activity <%= @activity.activity_type.name %></h2>
<% if @activity.user == current_user %>
  <%= link_to edit_activity_path(@activity) do %>
    <button title="Edit" class="btn btn-success"><%= fa_icon "edit" %></button>
  <% end %>
  <%= link_to @activity, method: :delete, data: {confirm: 'Are you sure?'} do %>
    <button title="Delete" class="btn btn-danger"><%= fa_icon "trash" %></button>
  <% end %>
<% end %>

<table class="table table-bordered table-detail">
  <tbody>
  <tr>
    <td><strong>Name</strong></td>
    <td><%= @activity.name %></td>
  </tr>

  <tr>
    <td><strong>Date</strong></td>
    <td><%= human_date(@activity.start_at) %></td>
  </tr>

  <tr>
    <td><strong>Distance</strong></td>
    <td><%= human_distance(@activity.distance) %></td>
  </tr>

  <tr>
    <td><strong>Duration</strong></td>
    <td><%= human_time(@activity.duration) %></td>
  </tr>

  <tr>
    <td><strong>Description</strong></td>
    <td><%= @activity.description %></td>
  </tr>

  <tr>
    <td><strong>User</strong></td>
    <td> <%= user_link(@activity.user) %></td>
  </tr>
  </tbody>
</table>

<% if current_user != @activity.user %>
  <%= link_to give_kudos_path(@activity), method: :put, remote: true do %>
    <button title="<%= kudos_title(@given_kudos) %>" class="<%= kudos_class(@given_kudos) %>"><%= fa_icon "thumbs-up" %></button>
  <% end %>
<% end %>
<h5>Kudos (<%= @activity.activity_kudos.count %>)</h5>
<ul>
  <% @activity.kudoers.each do |kudoer| %>
    <li> <%= kudoer.fullname %></li>
  <% end %>
</ul>

<h5>Comments (<%= @activity.comments.count %>)</h5>
<%= render @activity.comments %>

<h5>Add a comment:</h5>
<%= render 'comments/form' %>

<div id="map"></div>

<script>
    let url = '<%= activity_points_path(@activity) %>';

    fetch(url)
        .then(res => res.json())
        .then((out) => {
            initMapWithPoints(out);
        })
        .catch(err => {
            console.error("Error during loading track points!");
            throw err
        });


    const initMapWithPoints = (trackPoints) => {
        const mainMap = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: trackPoints[parseInt(trackPoints.length / 2)],
            zoom: 12
        });

        const addLayer = function (map, track) {
            map.addLayer({
                "id": "route",
                "type": "line",
                "source": {
                    "type": "geojson",
                    "data": {
                        "type": "Feature",
                        "properties": {},
                        "geometry": {
                            "type": "LineString",
                            "coordinates": track
                        }
                    }
                },
                "layout": {
                    "line-join": "round",
                    "line-cap": "round"
                },
                "paint": {
                    "line-color": "#e23600",
                    "line-width": 6,
                    "line-opacity": 0.5
                }
            });
        };

        // Show track
        mainMap.on('load', function () {
            addLayer(mainMap, trackPoints)
        });

    };

</script>