<div class="form-page">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'user-form'}) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :email %><br/>
      <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Enter email', required: true  %>
      <%= field_error_div(resource, :email) %>
    </div>

    <div class="form-group">
      <%= f.label :first_name %><br/>
      <%= f.text_field :first_name, class: 'form-control', placeholder: 'Enter first name', required: true  %>
      <%= field_error_div(resource, :first_name) %>
    </div>

    <div class="form-group">
      <%= f.label :last_name %><br/>
      <%= f.text_field :last_name, class: 'form-control', placeholder: 'Enter last name', required: true  %>
      <%= field_error_div(resource, :last_name) %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br/>
      <%= f.password_field :password, class: 'form-control', placeholder: 'Enter password', required: true  %>
      <%= field_error_div(resource, :password) %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br/>
      <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Repeat your password', required: true  %>
      <%= field_error_div(resource, :password_confirmation) %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: 'btn btn-success' %>
    </div>
  <% end %>

    <%= render "devise/shared/links" %>
</div>