<!DOCTYPE html>
<html>
  <head>
    <title>Epublication</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>

  <body>
  <%= render 'layouts/header' %>
  <div class="container">
    <% unless notice.nil? %>
      <div class="alert alert-primary" role="alert">
        <%= notice %>
      </div>
    <% end  %>
    <%= yield %>
  </div>
  </body>
</html>
