<div class="form-page">
  <h2>Change your password</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put, class: 'user-form'}) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="form-group">
      <%= f.label :password, "New password" %><br/>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br/>
      <% end %>
      <%= f.password_field :password, autofocus: true, class: 'form-control', placeholder: 'Enter new password', required: true %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "Confirm new password" %><br/>
      <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Repeat new password', required: true %>
    </div>

    <div class="actions">
      <%= f.submit "Change my password", class: 'btn btn-success' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>