<div class="form-page">
  <h2>Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post, class: 'user-form'}) do |f| %>

    <div class="form-group">
      <%= f.label :email %><br/>
      <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Enter your email', required: true %>
      <%= field_error_div(resource, :email) %>
    </div>

    <div class="actions">
      <%= f.submit "Send me reset password instructions", class: 'btn btn-success' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
