<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th scope="col">Fullname</th>
    <th scope="col" style="width: 180px"></th>
  </tr>
  </thead>

  <tbody>
  <% users.each do |user| %>
    <tr>
      <td><%= user.fullname %></td>
      <td>
        <%= link_to user_profile_path(user) do %>
          <button title="Profile" class="btn btn-primary"><%= fa_icon "eye" %></button>
        <% end %>
        <%= follow_unfollow_btn(current_user, user) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>