<h2>Users</h2>

<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th scope="col">Fullname</th>
    <th scope="col">Email</th>
    <th scope="col" style="width: 200px"></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.fullname %></td>
      <td><%= user.email %></td>

      <td class="action-col text-right">
        <%= link_to user_profile_path(user) do %>
          <button title="Profile" class="btn btn-primary"><%= fa_icon "eye" %></button>
        <% end %>
        <%= follow_unfollow_btn(current_user, user) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>