<div style="margin-bottom: 30px">
  <h2>User detail</h2>
  <strong>Name: </strong><%= @user.fullname %><br>
  <strong>Email: </strong><%= @user.email %><br>
  <%= follow_unfollow_btn(current_user, @user) %>
</div>

<h5>Total activity distances</h5>
<table class="table table-striped table-bordered">
  <tbody>
  <% @distances.each do |d| %>
    <tr>
      <td><%= d[:type].name %></td>
      <td><%= human_distance(d[:distance]) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<h5>Followers (<%= @user.followers.count %>)</h5>
<%= render 'table', users: @user.followers %>

<h5>Following (<%= @user.following_users.count %>)</h5>
<%= render 'table', users: @user.following_users %>