/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "font-awesome";
@import "jquery-ui";


.action-col {
  text-align: right;
}

.table-detail {
  margin-top: 50px;
}

.published {
  color: green !important;
}

.not-published {
  color: red
}

//#error_explanation {
//  color: #f00;
//  ul {
//    list-style: none;
//    margin: 0 0 18px 0;
//  }
//}

.field_with_errors input {
  border: 1px solid red !important;
}
