// Place all the styles related to the Publications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.published {
  color: green !important;
}

.not-published {
  color: red
}
