<div class="card card-item">
  <div class="card-header">
    <h6 class="card-title"><%= activity.user.fullname %></h6>
    <h4 class="card-title"><%= "#{activity.name} - #{activity.activity_type.name}" %></h4>

  </div>
  <div class="card-body">
    <h6 class="card-title"><%= human_date(activity.start_at) %></h6>
    <div class="info-row">
      <div class="column">
        <h6 class="card-title">Duration</h6>
        <h6 class="card-title"><strong><%= human_time(activity.duration) %></strong></h6>
      </div>
      <div class="column second">
        <h6 class="card-title">Distance</h6>
        <h6 class="card-title"><strong><%= human_distance(activity.distance) %></strong></h6>
      </div>
    </div>
    <p class="card-text">Description: <%= activity.description %></p>
    <div class="info-row">
      <div class="column">
        <h6 class="card-title">Kudos</h6>
        <h6 class="card-title"><strong><%= activity.activity_kudos.count %></strong></h6>
      </div>
      <div class="column second">
        <h6 class="card-title">Comments</h6>
        <h6 class="card-title"><strong><%= activity.comments.count %></strong></h6>
      </div>
    </div>
    <p class="card-text">Description: <%= activity.description %></p>
    <%= link_to activity_path(activity) do %>
      <button class="btn btn-primary">More details</button>
    <% end %>

  </div>
</div>

<!--<td>-->
<!--<td><%#= activity.name %></td>-->
<!--<td> <%#= user_link(activity.user) %></td>-->
<!--<td><%#= human_date(activity.start_at) %></td>-->
<!--<td><%#= human_time(activity.duration) %></td>-->
<!--<td><%#=  %></td>-->