<h3><%= @title %></h3>
<%= select_tag(:type_select, options_for_select(@selectable, @type)) %>

<% @activities.each do |activity| %>
  <%= render 'activity_card', activity: activity %>
<% end %>


<script>
    document.getElementById('type_select').onchange = (event) => {
        const paramType = event.target.value;
        const url = "<%= dashboard_path(type: 'TYPE') %>";
        window.location = url.replace('TYPE', paramType);
    };
</script>
