<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="<%= user_signed_in? ? dashboard_path : root_path %>">SportSocial</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <a class="nav-link" href="/dashboard">Dashboard <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= users_path %>">Users</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Activities
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="<%= user_activities_path %>">My activities</a>
            <a class="dropdown-item" href="<%= activities_path %>">All activities</a>
          </div>
        </li>
      <% end %>
    </ul>
    <div>
      <% if user_signed_in? %>
        <%= link_to new_activity_path do %>
          <button class="btn btn-success">Upload activity</button>
        <% end %>
        <%= link_to user_profile_path(current_user) do %>
          <button class="btn btn-outline-info"><%= "#{current_user.first_name}'s profile" %></button>
        <% end %>

        <%= link_to destroy_user_session_path, method: :delete do %>
          <button class="btn btn-outline-info">Sign out</button>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <button class="btn btn-outline-info">Sign in</button>
        <% end %>

        <%= link_to new_user_registration_path do %>
          <button class="btn btn-outline-info">Sign up</button>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>