<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinalWork</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css" rel="stylesheet" />

  </head>

  <body>
  <script>
      mapboxgl.accessToken = 'pk.eyJ1Ijoic2Vib3RhcyIsImEiOiJjaWwzdmtvaXQwMGNreDFtMDM3eDByNmRiIn0.rbG7sJZTWCiqssnDEcZZXg';
  </script>
  <%= render "layouts/navbar" %>

  <% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %>">
      <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
      <%= value %>
    </div>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
