<div class="form-page">
  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'user-form'}) do |f| %>

    <div class="form-group">
      <%= f.label :email %><br/>
      <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Enter email', required: true  %>
    </div>

    <div class="form-group">
      <%= f.label :password %><br/>
      <%= f.password_field :password, class: 'form-control', placeholder: 'Enter password', required: true  %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-group">
        <%= f.check_box :remember_me, class: 'form-check-input' %>
        <%= f.label :remember_me, class: 'form-check-label' %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: 'btn btn-success' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>