<h2>Welcome to SportSocial</h2>

<p>
  Welcome to the one of the most used sporting social networks for sharing your sport activities in the whole world.
</p>
<p>
  <strong>We are #1 for your life.</strong>
</p>
<div class="image-container">
  <%= image_tag 'ride.jpg' %>
  <%= image_tag 'run.jpg' %>
</div>


