// Place all the styles related to the Activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#map {
  width: 100%;
  height: 600px;
  background-color: gray;
  margin: 20px;
}
