@import "bootstrap";
@import "font-awesome";
@import "activities";
@import "comments";
@import "dashboard";
@import "users";
@import "welcome";


.form-page {
  text-align: center;
}

.form-page h2 {
  margin-bottom: 30px;
}

.user-form {
  margin: 0 auto;
  min-width: 300px;
  max-width: 450px;
  width: 30%;
}

.shared-links {
  margin: 20px 0 40px 0;
}

.field_with_errors input {
  border: 1px solid red !important;
}

.error, .error ul, .error ul li {
  text-align: left;
}

.text-right {
  text-align: right
}