// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.info-row {
  display: flex;
  flex-direction: row
}

.info-row .column {
  display: flex;
  flex-direction: column
}

.info-row .second {
  margin-left: 60px
}

.card-item {
  margin-top: 20px
}
