// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

.image-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.image-container img {
  width: 50%;
}
