<%= form_with(model: publication, local: true, html: { autocomplete: "off" }) do |form| %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control', placeholder: 'Enter name', required: true %>
    <div class="error text-danger">
      <%= inline_errors(publication, :name) %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :published_at %>
    <%= form.text_field :published_at, class: 'form-control datepicker', placeholder: 'Enter date e.g. 22.11.2019',
                        value: human_date(form.object.published_at) %>
    <div class="error text-danger">
      <%= inline_errors(publication, :published_at) %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :abstract %>
    <%= form.text_area :abstract, class: 'form-control', placeholder: 'Enter abstract' %>
    <div class="error text-danger">
      <%= inline_errors(publication, :abstract) %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :person_id %>
    <%= form.select :person_id, selectable_people, {}, {class: 'form-control'} %>
    <div class="error text-danger">
      <%= inline_errors(publication, :person_id) %>
    </div>
  </div>

  <div class="form-group">
    <%= form.submit class: 'btn btn-success' %>
  </div>

  <script type="text/javascript">
      $(document).ready(function(){
          $('.datepicker').datepicker({
              showButtonPanel: true,
              changeMonth: true,
              changeYear: true,
              dateFormat: 'dd.mm.yy'
          });
      });
  </script>


<% end %>



