<h2>Editing Publication</h2>

<%= render 'form', publication: @publication %>

<%= link_to @publication do %>
  <button class="btn btn-primary">Show</button>
<% end %>

<%= link_to publications_path do %>
  <button class="btn btn-secondary">Back</button>
<% end %>
