<h2>Publications</h2>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col" style="width: 100px">Published</th>
      <th scope="col">Person</th>
      <th scope="col" style="width: 180px">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @publications.each do |publication| %>
      <tr>
        <td><%= publication.name %></td>
        <td><%= icon_published(publication.published?) %></td>
        <td><%= publication.person.name_email %></td>
        <td class="action-col"  style="text-align: right">
          <%= link_to publication do %>
            <button title="Show" class="btn btn-primary"><%= fa_icon "eye" %></button>
          <% end %>
          <%= link_to edit_publication_path(publication) do %>
            <button title="Edit" class="btn btn-success"><%= fa_icon "edit" %></button>
          <% end %>
          <%= link_to publication, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <button title="Delete" class="btn btn-danger"><%= fa_icon "trash" %></button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_publication_path do %>
  <button class="btn btn-primary">New Publication</button>
<% end %>
