<h2>Publication detail</h2>

<table class="table table-bordered table-detail">
  <tbody>
  <tr>
    <td><strong>Name</strong></td>
    <td><%= @publication.name %></td>
  </tr>

  <tr>
    <td><strong>Abstract</strong></td>
    <td><%= @publication.abstract %></td>
  </tr>

  <tr>
    <td><strong>Published at</strong></td>
    <td><%= published_date_or_not(@publication.published_at) %></td>
  </tr>

  <tr>
    <td><strong>Person</strong></td>
    <td>
      <%= @publication.person.name_email %>
      <%= link_to @publication.person, target: "_blank" do %>
        <%= fa_icon "eye" %>
      <% end %>
    </td>
  </tr>

  <tr>
    <td><strong>Faculty</strong></td>
    <td>
      <%= @publication.faculty.name %>
      <%= link_to @publication.faculty, target: "_blank" do %>
        <%= fa_icon "eye" %>
      <% end %>
    </td>
  </tr>
  </tbody>
</table>

<%= link_to edit_publication_path(@publication) do %>
  <button class="btn btn-success">Edit</button>
<% end %>

<%= link_to publications_path do %>
  <button class="btn btn-secondary">Back</button>
<% end %>
